# Compiled smart contracts
blockchain/build/

# Copied built contracts .json
frontend/static/CampaignFactory.json
frontend/static/Campaign.json
frontend/static/Endorsement.json

# Node
backend/node_modules/
frontend/node_modules/
blockchain/node_modules/

# ignore .env files
.env
